/* Base styles optimized for mobile devices */

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  font-family: Arial, sans-serif;
  color: #4D4D4D;
  line-height: 1.6;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, serif;
  color: #003366;
  margin-bottom: 20px;
}

a {
  color: #003366;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.section {
  min-height: 100vh;  /* Change this to min-height */
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Media Queries */

/* Tablets (768px and above) */
@media (min-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }

/* Desktops (1024px and above) */
@media (min-width: 1024px) {
  body {
    padding: 0;
  }

  .section {
    padding: 0;
  }
}

/* Extra Large Monitors (1440px and above) */
@media (min-width: 1440px) {
  body {
    max-width: 100vw;
    margin: 0;
  }

  .footer {
    font-size: 16px;
  }

  h1, h2, h3 {
    margin-bottom: 30px;
  }

  .navbar {
    margin-left: 150px;
    margin-right: 2em;
  }
  .navbar a {
    margin: 0;
  }
}
