.footer {
  border-top: solid #FFD700 2px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  color: white;
  font-size: 10px;
  width: 100vw;
}

.footer p {
  color: #003366;
}
.footer-logo {
margin-right: auto;
}

.footer-image {
  width: 75px;
  height: 50px;
  padding-top: 20px;
}

.footer-info {
margin-right: auto;
padding-top: 22px;
color: #003366;
}
