.contact {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #003366;
}
.contact-icon {
  height: 32px;
  padding-right: 15px; 
}
.contact-image {
  width: 250px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-content {
  max-width: 800px; /* Limit maximum width of content */
  margin-top: 60px;
}
.contact-card {
  display: grid;
  justify-content: center;
  background: #ffffff;
  padding: 0.5em 1em; /* Add padding for better click area */
  border-radius: 5px;
}

.contact h2 {
  color: #ffffff;
  font-size: 2.625rem; /* Adjusted font size for better readability */
  text-align: center;
}

.contact-section p {
  margin-bottom: 20px; /* Added margin bottom for separation */
  font-size: 1.5rem; /* Adjusted for better readability */
  line-height: 1.6; /* Increase line spacing for better readability */
  text-align: center;
  color: #fefefe
}

.contact-section a {
  color: #ffffff;
  text-decoration: none;
  transition: text-decoration 0.3s ease; /* Smooth transition for text-decoration */
}

.contact-section a:hover,
.contact-section a:focus {
  text-decoration: underline; /* Adds underline on hover/focus for accessibility */
}
