.about {
  min-height: 100vh;  /* Change this to min-height */
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center content horizontally */
  padding: 40px; /* Added padding for better spacing */
  box-sizing: border-box; /* Ensure padding doesn't affect overall width */
  background-color: #f8f9fa; /* Light grey background for subtle contrast */
  color: #333; /* Dark grey text for readability */
}

.about h2 {
  color: #003366;
  font-size: 2.625rem; /* Adjusted for better readability */
  margin-bottom: 20px; /* Added margin bottom for separation */
  text-align: center;
}

.about-content {
  max-width: 800px; /* Limit maximum width of content */
}

.about p {
  margin-bottom: 20px; /* Added margin bottom for separation */
  font-size: 1.125rem; /* Adjusted for better readability */
  line-height: 1.6; /* Increase line spacing for better readability */
}
