.about {
  min-height: 100vh;
  width: 100vw;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about h2 {
  color: #003366;
  font-size: 2.625rem; /* Adjusted for better readability */
  margin-bottom: 20px; /* Added margin bottom for separation */
  text-align: center;
}

.about-icon {
  height: 32px;
}

.about-content {
  max-width: 800px; /* Limit maximum width of content */
  margin-top: 60px;
  padding-bottom: 4em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.about p {
  margin-bottom: 20px; /* Added margin bottom for separation */
  font-size: 1.125rem; /* Adjusted for better readability */
  line-height: 1.6; /* Increase line spacing for better readability */
}
