@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.hero {
  color: #fff;
  text-align: center;
  min-height: 100vh; /* Change this to min-height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('../../assets/patrick-fore-H5Lf0nGyetk-unsplash.jpg'); /* Path to your image */
  background-size: cover; /* Cover ensures the image covers the entire section */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}

.hero-image {
  width: 250px;
  height: 200px;
}

.button {
  width: max-content;
  margin-top: 1.5em;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFD700;
  color: #003366;
  padding: 10px 20px;
  border: solid #003366;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

/* Styles for devices smaller than 576px */
@media (max-width: 575.98px) { 
  .hero h1 {
    /* Adjustments for small screens (e.g., font size, padding) */
    font-size: 2.5rem;
  }
}

/* Small devices (phones, 576px and up) */
@media (min-width: 576px) {
  .hero {
  }
  .hero h1 {
    font-size: 3.5rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .hero {
    /* Adjust styles for medium devices */
  }
  .hero h1 {
    font-size: 4.5rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .hero {
    /* Adjust styles for larger devices */
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .hero {
    /* Adjust styles for extra large devices */
  }
  .hero h1 {
    font-size: 5.5rem;
  }
}
