@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.hero {
  background-color: #C0C0C0;
  color: #fff;
  text-align: center;
  min-height: 100vh; /* Change this to min-height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('../../assets/courtroom.jpg'); /* Path to your image */
  background-size: cover; /* Cover ensures the image covers the entire section */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}

.hero h1 {
  font-family: 'Playfair Display', serif; /* Example: Using Google Fonts */
  font-size: 2.5rem; /* Responsive font size */
  font-weight: 700; /* Bold weight for better emphasis */
  color: #003366; /* Ensure high contrast for readability */
  text-shadow: 
  -1px -1px 0 #fff,  
   1px -1px 0 #fff,
  -1px  1px 0 #fff,
   1px  1px 0 #fff, /* Outline effect */
   2px 2px 4px rgba(0, 0, 0, 0.7); /* Drop shadow */
  letter-spacing: 1px; /* Improved spacing */
  line-height: 1.2; /* Adjusted line height for better readability */
  margin: 0 0 20px 0; /* Adjusted margin for spacing between the heading and subtext */
}

.button {
  width: max-content;
  margin-top: 1.5em;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFD700;
  color: #003366;
  padding: 10px 20px;
  border: solid #003366;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

/* Styles for devices smaller than 576px */
@media (max-width: 575.98px) { 
  .hero h1 {
    /* Adjustments for small screens (e.g., font size, padding) */
    font-size: 2.5rem;
  }
}

/* Small devices (phones, 576px and up) */
@media (min-width: 576px) {
  .hero {
  }
  .hero h1 {
    font-size: 3.5rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .hero {
    /* Adjust styles for medium devices */
  }
  .hero h1 {
    font-size: 4.5rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .hero {
    /* Adjust styles for larger devices */
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .hero {
    /* Adjust styles for extra large devices */
  }
  .hero h1 {
    font-size: 5.5rem;
  }
}
