/* LawServices.css */

/* Common styles */
.law-services-wrapper {
  margin-top: 120px;
}

.law-services {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.law-services h1 {
  text-align: center;
  font-size: 2.625rem;
  font-weight: bold;
  color: #003366;
  padding-top: 1.75em;
}

.law-services h2 {
  text-align: center;
  font-size: 2.5rem;
  padding-top: 1.75em;
}
.law-services ul {
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
}

.law-services li {
  font-size: 2em;
  font-family: Georgia, serif;
  margin-top: 20px;
}

.law-services-links {
  display: block;
  background-color: #FFD700;
  padding: 0.5em 1em; /* Add padding for better click area */
  border-radius: 5px; /* Add rounded corners for a nicer look */
  transition: background-color 0.3s ease; /* Smooth transition effect */
}

.law-services-links:hover {
  background-color: #003366;
  color: #ffffff;
  text-decoration: none;
}

.law-service-icon {
  height: 32px;
  width: 32px;
  margin-right: 1em;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  .law-services h1 {
    font-size: 2.65rem;
  }
  .law-services h2 {
    font-size: 1.75rem;
  }
  .law-services li {
    font-size: 1.5em;
  }
  .law-service-icon {
    height: 24px;
    width: 24px;
    margin-right: 0.5em;
  }
}

@media only screen and (max-width: 576px) {
  .law-services h1 {
    font-size: 2.65rem;
  }
  .law-services h2 {
    font-size: 1.5rem;
  }
  .law-services li {
    font-size: 1em;
  }
  .law-service-icon {
    height: 20px;
    width: 20px;
    margin-right: 0.25em;
  }
}

/* Family Law */
.family-law {
  min-height: 100vh;
  width: 100vw;
  background-color: #003366;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
}

.family-law-content {
  max-width: 800px;
  margin-top: 60px;
}

.family-law p,
.family-law h2,
.family-law h3 {
  color: #ffffff;
}
.family-law h3 {
  margin-top: 2em;
  color: #FFD700;
}
.family-law a {
  color: #FFD700;
}

/* Criminal Defense */
.criminal-defense {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
  color: #003366;
  background-color: #ffffff;
}

.criminal-defense-content {
  max-width: 800px;
  margin-top: 60px;
}

.criminal-defense h2,
.criminal-defense h3 {
  color: #003366;
  font-weight: bolder;
}
.criminal-defense h3 {
  margin-top: 2em;
}

.criminal-defense .icon {
  height: 32px;
}

/* Business Law */
.business-law {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
  background-color: #003366;
}

.business-law-content {
  max-width: 800px;
  margin-top: 60px;
}

.business-law p,
.business-law h2,
.business-law h3 {
  color: #ffffff;
}
.business-law h3 {
  margin-top: 2em;
  color: #FFD700;
}

.business-law .icon {
  height: 32px;
}

.business-law li {
  color: #Fefefe;
}

/* Estate Planning */
.estate-planning {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.estate-planning-content {
  max-width: 800px;
  margin-top: 60px;
}

.estate-planning h2,
.estate-planning h3 {
  color: #003366;
  font-weight: bolder;
}
.estate-planning h3{
  margin-top: 2em;
}

.estate-planning .icon {
  height: 32px;
}

/* Personal Injury */
.personal-injury {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
  background-color: #003366;
}

.personal-injury-content {
  max-width: 800px;
  margin-top: 60px;
}

.personal-injury p,
.personal-injury h2,
.personal-injury h3,
.personal-injury li {
  color: #e7e7e7;
}
.personal-injury h3 {
  margin-top: 2em;
  font-weight: border;
  color: #FFD700;
}
